In [1]:
import pandas as pd

In [2]:
file_url = "./data/salaries_2023.csv"

# Carrega os dados do arquivo CSV e preenche valores nulos com 0
df = pd.read_csv(file_url)

In [11]:
df.describe(include="all").round(2)

,Department,Department_Name,Division,Gender,Base_Salary,Overtime_Pay,Longevity_Pay,Grade
count,10291,10291,10291,10291,10291.00,10291.00,10291.00,10258
unique,42,42,627,2,NaN,NaN,NaN,98
top,HHS,Department of Health and Human Services,HHS 60 School Health Services,M,NaN,NaN,NaN,T1
freq,1877,1877,399,5929,NaN,NaN,NaN,687
mean,NaN,NaN,NaN,NaN,90312.17,8081.29,1533.88,NaN
std,NaN,NaN,NaN,NaN,31240.84,16491.83,3209.04,NaN
min,NaN,NaN,NaN,NaN,11147.24,0.00,0.00,NaN
25%,NaN,NaN,NaN,NaN,70023.00,0.00,0.00,NaN
50%,NaN,NaN,NaN,NaN,87328.00,258.42,0.00,NaN
75%,NaN,NaN,NaN,NaN,108084.00,9190.97,1225.68,NaN
max,NaN,NaN,NaN,NaN,292000.00,227428.99,20279.46,NaN

In [5]:
df.isnull().sum()

Department          0
Department_Name     0
Division            0
Gender              0
Base_Salary         0
Overtime_Pay        0
Longevity_Pay       0
Grade              33
dtype: int64

In [6]:
df.value_counts(dropna=False)

Department  Department_Name                               Division                                   Gender  Base_Salary  Overtime_Pay  Longevity_Pay  Grade
FRS         Fire and Rescue Services                      FRS 45 Recruit Training                    M       58113.00     0.00          0.00           F1       28
HHS         Department of Health and Human Services       HHS 60 School Health Services              F       112267.00    0.00          0.00           24       16
FRS         Fire and Rescue Services                      FRS 45 Field Recruits                      M       58113.00     104.78        0.00           F1       16
HHS         Department of Health and Human Services       HHS 60 School Health Services              F       44667.79     0.00          0.00           16       14
FRS         Fire and Rescue Services                      FRS 45 Recruit Training                    M       52566.00     0.00          0.00           F3       13
                                                                                                                                                                ..
DPS         Department of Permitting Services             DPS 75 Commercial Bldg/LS/Access/FPS       F       112267.00    889.28        4462.97        24        1
                                                                                                             141017.86    0.00          0.00           M3        1
                                                                                                     M       112267.00    712.92        8950.52        24        1
                                                                                                                          891.16        8950.52        24        1
ZAH         Office of Zoning and Administrative Hearings  ZAH 05 Zoning and Administrative Hearings  F       177976.31    0.00          0.00           N35       1
Name: count, Length: 9674, dtype: int64

In [12]:
df.nunique(dropna=False)

Department           42
Department_Name      42
Division            627
Gender                2
Base_Salary        3470
Overtime_Pay       5566
Longevity_Pay      1113
Grade                99
dtype: int64

In [9]:

for col in df.columns:
    print(df[col].value_counts())

Department
HHS    1877
POL    1794
FRS    1440
DOT    1289
COR     513
ABS     462
LIB     427
DGS     424
DPS     243
REC     193
SHF     188
DEP     185
TBS     159
CCL     131
FIN     121
CEC     105
HCA     101
CAT      78
OAS      77
OHR      68
PIO      68
CEX      48
OMB      46
PRO      36
BOE      34
CUS      30
DHS      21
NDA      20
OIG      20
OCP      19
OLO      15
OAG      11
HRC      11
OLR       8
ORE       6
OGM       5
IGR       4
ZAH       4
OFR       3
BOA       3
MPB       2
ECM       2
Name: count, dtype: int64
Department_Name
Department of Health and Human Services                       1877
Department of Police                                          1794
Fire and Rescue Services                                      1440
Department of Transportation                                  1289
Correction and Rehabilitation                                  513
Alcohol Beverage Services                                      462
Department of Public Libraries                                 427
Department of General Services                                 424
Department of Permitting Services                              243
Department of Recreation                                       193
Sheriff's Office                                               188
Department of Environmental Protection                         185
Department of Technology and Enterprise Business Solutions     159
County Council                                                 131
Department of Finance                                          121
Community Engagement Cluster                                   105
Department of Housing and Community Affairs                    101
County Attorney's Office                                        78
Office of Animal Services                                       77
Office of Human Resources                                       68
Office of Public Information                                    68
Offices of the County Executive                                 48
Office of Management and Budget                                 46
Office of Procurement                                           36
Board of Elections                                              34
Community Use of Public Facilities                              30
Office of Emergency Management and Homeland Security            21
Non-Departmental Account                                        20
Office of the Inspector General                                 20
Office of Consumer Protection                                   19
Office of Legislative Oversight                                 15
Office of Agriculture                                           11
Office of Human Rights                                          11
Office of Labor Relations                                        8
Office of Racial Equity and Social Justice                       6
Office of Grants Management                                      5
Office of Intergovernmental Relations Department                 4
Office of Zoning and Administrative Hearings                     4
Office of Food Systems Resilience                                3
Board of Appeals Department                                      3
Merit System Protection Board Department                         2
Ethics Commission                                                2
Name: count, dtype: int64
Division
HHS 60 School Health Services                            399
DOT 50 Transit Gaithersburg Ride On                      352
DOT 50 Transit Silver Spring Ride On                     294
HHS 60 Office of Eligibility and Support Services        272
HHS 60 Behavioral Health and Crisis Services Division    238
                                                        ...
DOT 50 Ride On Operations                                  1
DOT 50 Transit Customer Operations and Support             1
DOT 50 Transit Fare Media                                  1
OCP 39 Office of Consumer Protection                       1
DEP 80 Energy, Climate and Compliance Division             1
Name: count, Length: 627, dtype: int64
Gender
M    5929
F    4362
Name: count, dtype: int64
Base_Salary
108084.0000    377
117424.0000    238
107367.0000    221
98228.0000     213
112267.0000    205
              ...
87386.8059       1
97868.1176       1
144896.0790      1
156196.3600      1
177976.3100      1
Name: count, Length: 3470, dtype: int64
Overtime_Pay
0.00        4651
104.78        17
22.60          8
139.71         6
454.03         4
            ...
5105.10        1
20422.22       1
17961.88       1
15430.05       1
2591.66        1
Name: count, Length: 5566, dtype: int64
Longevity_Pay
0.00        7454
11524.76     174
13310.70      68
6257.70       48
3732.58       45
            ...
8279.28        1
7987.32        1
10754.04       1
10397.15       1
3594.90        1
Name: count, Length: 1113, dtype: int64
Grade
T1     687
P4     683
16     656
24     561
F3     513
      ...
T1P      1
N14      1
S1       1
EX0      1
N35      1
Name: count, Length: 98, dtype: int64